<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PugWAR</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/cover/">

    

    <!-- Bootstrap core CSS -->
<link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Favicons -->
<link rel="manifest" href="https://getbootstrap.com/docs/5.0/assets/img/favicons/manifest.json">
<link rel="icon" href="https://avatars.githubusercontent.com/u/56550527?s=280&v=4">
<meta name="theme-color" content="#7952b3">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

    </style>

    
    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">PugWAR</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
          <span class="navbar-text">
    Play Pug War!
  </span>
        {{#if Autenticated}}
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="halloffame">Hall of Fame</a>
        <a class="nav-link" href="/user-logout">Logout</a>
        {{else}}
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/register-user">Register</a>
        <a class="nav-link" href="/user-login">Login</a>
        {{/if}}
      </nav>
    </div>
  </header>


  <main class="px-3">
    <p class="lead">{{{body}}}</p>
  </main>

  <footer class="mt-auto text-white-50">
            <figure class="text-center">
          <blockquote class="blockquote">
            <p>What do you call a pug that’s been in the sun all day? A hog dog.</p>
          </blockquote>
        <figcaption class="blockquote-footer">
            <cite title="Source Title">Mario The Pug</cite>
        </figcaption>
        </figure>
    <p> SRDNLENCTF 2023 </p>
  </footer>
</div>


    
  </body>
</html>
